<% if @form.errors.any? %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold"><%= t('.error_happened') %></strong>
    <ul class="list-disc list-inside mt-2">
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @form, url: user_shoppings_path, data: { turbo: false },
              class: 'w-full flex flex-col bg-white shadow-md rounded px-2 pt-4 pb-4 mb-4' do |f| %>
  <div class='mb-4'>
    <%= f.label :shopping_name, t('.shopping_name'), class: 'block text-gray-700 text-xl font-bold mb-2' %>
    <%= f.text_field :shopping_name, placeholder: t('.shopping_name_example'),
                                     class: 'shadow appearance-none border-b border-blue-200 \
                                             rounded w-full py-2 px-3 text-gray-700 text-xl \
                                             leading-tight focus:outline-none focus:shadow-outline' %>
  </div>
  <div class="bg-white">
    <div data-controller="tabs" class="w-full">
      <ul class="flex border-b-2 mb-4">
        <li data-tabs-target="tab" data-action="click->tabs#select"
            class="mr-1 flex-auto text-center text-lg py-2 px-4 uppercase \
                   font-bold text-white bg-blue-500 rounded-t-lg sm:rounded-none">
          <%= t('.cart_contents') %>
        </li>
        <li data-tabs-target="tab" data-action="click->tabs#select"
            class="mr-1 flex-auto text-center text-lg py-2 px-4 uppercase \
                   font-bold text-blue-500 bg-white rounded-t-lg sm:rounded-none">
          <%= t('.to_buy_list') %>
        </li>
      </ul>

      <div data-tabs-target="content" class="p-2 border-2 rounded-lg w-full sm:w-3/4 mx-auto">
        <div data-controller="cart" class="w-full">
          <p class="font-bold text-2xl flex justify-center">
            <%= t('.sum') %><span data-cart-target="sumPrice"></span><%= t('.currency') %>
          </p>
          <div id="item-header">
            <ul class="flex border-b-2 mb-4">
              <li class="mr-1 flex-auto text-center text-xl py-2 px-4 font-bold  w-1/2">
                 <%= t('.item_name') %>
               </li>
               <li class="mr-1 flex-auto text-center text-xl py-2 px-4 font-bold w-1/4">
                 <%= t('.item_price') %>
               </li>
               <li class="mr-1 flex-auto text-center text-xl py-2 px-4 font-bold w-1/4">
                 <%= t('.item_amount') %>
               </li>
            </ul>
          </div>
          <div id="cart-content">
            <div data-cart-target="cartRow" class='cart-row flex flex-row w-full space-x-2 my-2'>
              <%= f.text_field :cart, name: 'shopping_form[cart][][item_name]',
                                      data: { action: 'keydown->cart#preventSubmit' },
                                      class: 'w-1/2 border-b border-blue-200 focus:outline-none text-2xl' %>
              <%= f.telephone_field :cart, name: 'shopping_form[cart][][item_price]',
                                           data: { target: 'cart.itemPrice',
                                                   action: 'input->cart#updateSumPrice keydown->cart#preventSubmit' },
                                           class: 'w-1/4 border-b border-blue-200 focus:outline-none text-xl' %>
              <%= f.telephone_field :cart, name: 'shopping_form[cart][][item_count]',
                                           data: { target: 'cart.itemCount',
                                                   action: 'input->cart#updateSumPrice keydown->cart#preventSubmit' },
                                           class: 'w-1/4 border-b border-blue-200 focus:outline-none text-xl' %>
            </div>
          </div>
          <div class="flex justify-center mt-4">
            <button type="button" data-action="click->cart#createCartRow"
                class='text-white text-lg font-bold py-2 px-4 m-4 rounded bg-blue-500 hover:bg-blue-700 w-full sm:w-auto'>
                <%= t('.add_columun') %>
            </button>
          </div>
        </div>
      </div>
      <div data-tabs-target="content" class="hidden p-4 border-2 rounded-lg w-full sm:w-3/4 mx-auto">
        <p><%= t('.comming_soon') %></p>
      </div>
    </div>
    <div class="m-4">
      <%= f.submit t('.save'),
                   class: 'bg-green-500 hover:bg-green-700 text-white text-lg font-bold py-2 px-4 rounded \
                           focus:outline-none focus:shadow-outline w-1/3 sm:w-auto' %>
    </div>
  </div>
<% end %>
